chatbot/models
chatbot/results
chatbot/*.db*
env/
venv/
chatbot/env
chatbot/venv
__pycache__
chatbot/actions/__pycache__/
chatbot/actions/__pycache__/actions.cpython-36.pyc
.vscode/launch.json
.vscode/